* {
  transition: all 500ms ease;
}

.barmenu {
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textmenu {
  margin: 14vw 8vw;
  width: 100vw;
  position: relative;
}

.textmenu h1 {
  font-size: 25px;
  line-height: 30px;
  margin: 20vw 0vw 6vw 0vw;
  cursor: default;
  position: inherit;
}

.textmenu p {
  margin-top: 14vw;
}

.yellowglass {
    position: absolute;
    top: -14vh;
    left: 48vw;
    animation: fly 7s ease-in-out infinite;
    width: 65vw;
}

.dog,
.death,
.height,
.light,
.spider,
.snake,
.war,
.field,
.cube,
.nightmare {
  margin-left: -1.5vw;
}

.height {
  margin-top: 4vw;
  margin-bottom: 4vw;
}

.death,
.light,
.war,
.field,
.cube,
.height,
.nightmare  {
  margin-bottom: 4vw;
}

#price {
  margin-top: 5vw;
  cursor: pointer;
}

#price:hover {
  -webkit-text-fill-color: #9F57FF;
}

.purpleglass {
  position: absolute;
  top: 166vh;
  left: 52vw;
  animation: fly 6s ease-in-out infinite;
  width: 50vw;
}

#social {
  margin-top: 18vw;
}

#inside {
  margin-top: 16vw;
}

#socialp {
  margin-top: 20vw;
}

#space {
  margin-top: 16vw;
}

.blueglass {
  position: absolute;
  right: -4vw;
  top: 320vh;
  animation: fly 8s ease-in-out infinite;
  width: 44vw;
}

.redglass {
  right: 10vw;
  top: 486vh;
  animation: fly 9s ease-in-out infinite;
  width: 45vw;
}

.spider,
.snake,
.war,
.field,
.cube,
.nightmare {
  display: none;
}

.tabletbarmenu {
  display: none;
}

@media (min-width: 375px) {

  .textmenu h1 {
    font-size: 30px;
  }

  .textmenu p {
    margin-top: 25vw;
    margin-bottom: 12vw;
  }

  .dog,
  .death,
  .height,
  .light,
  .spider,
  .snake,
  .war,
  .field,
  .cube,
  .nightmare {
    width: 328px;
  }
}

@media (min-width: 768px) {

  .barmenu {
    display: none;
  }

  .textmenu h1 {
    font-size: 60px;
    line-height: 60px;
    margin-top: 14vw;
  }

  .textmenu p {
    margin-top: 10vw;
    margin-bottom: 10vw;
  }

  .textmenu {
    margin: 8vw 8vw;
  }

  .pricesblock {
    width: 92vw;
    display: flex;
  }

  .tabletbarmenu {
    width: 100vw;
    display: block;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dog,
  .death,
  .height,
  .light,
  .spider,
  .snake,
  .war,
  .field,
  .cube,
  .nightmare {
    width: 209px;
  }

  .redglass {
    top: 238vh;
  }

  .blueglass {
    top: 148vh;
  }

  .purpleglass {
    top: 70vh;
  }

  #price {
    margin-bottom: 2vw;
    margin-top: 2vw;
    margin-left: 2vw;
  }

  #tabletnature {
    margin-top: 5vw;
  }

  #social {
    margin-top: 10vw;
  }

  #socialp {
    margin-top: 8vw;
  }

  .height {
    margin-bottom: 9vw;
    margin-top: 0vw;
  }

  #spacefear {
    margin-top: 3vw;
  }

  #spacephobias {
    margin-top: -1vw;
  }

  #insidefear {
    margin-top: 4vw;
    margin-bottom: 8vw;
  }


}

@media (min-width: 1024px) {

}
