.booking {
  margin: 10vw 8vw 10vw 8vw;
  display: flex;
  flex-direction: column;
  width: 84vw;
  align-items: center;
}

.booking p {
  margin-bottom: 0vw;
}

.booking input {
  margin-bottom: 4vw;
}

.text {
  margin: 8vw 0vw;
  border-left: 1px solid white;
  padding-left: 20px;
}

.text p {
  margin-bottom: 4vw;
}

.subscription {
  margin-top:  -8vw;
}

.tabletbooking {
  display: none;
}


@media (min-width: 321px and max-width: 414px) {

  input {
    width: 84vw;
  }

  .button {
    width: 82vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .bookingbutton {
    margin: 0vw 8vw;
  }
}

@media (min-width: 768px) {
  .booking {
    display: none;
  }

  .tabletbooking {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 24vw 4vw;
  }

  .form {
    width: 44vw;
  }

  .text {
    margin-top: 20px;
    width: 46vw;
  }

  .text p {
    width: 44vw;
  }

  .text p:last-child {
    margin-bottom: 0vw;
  }

  .form p {
    margin-bottom: 0vw;
  }

  .tabletbooking input {
    margin-bottom: 2vw;
    width: 310px;
  }

  .bookingbutton .button {
    width: 294px;
  }

  .tabletbooking img {
    display: none;
  }

}

@media (min-width: 1024px) {

  .tabletbooking {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 8vw 5vw 2vw 5vw;
  }

  .tabletbooking input {
    margin-bottom: 20px;
    width: 500px;
    height: 42px;
    font-size: 15px;
  }

  .bookingbutton .button {
    font-size: 20px;
    padding: 12px;
    width: 476px;
  }

  .text {
    margin-top: 20px;
    margin-right: 3vw;
    width: 32vw;
  }

  .text p {
    width: 32vw;
    margin-bottom: 20px;
  }

  .text p:last-child {
    margin-bottom: 0px;
  }

  .subscription {
    margin-top: 0vw;
  }

  .tabletbooking img {
    display: block;
    width: 16vw;
    margin-top: -2vw;
    animation: fly 8s ease-in-out infinite;
  }
}

@media (min-width: 1600px) {

  .text {
    margin-top: 20px;
    margin-right: 10vw;
    width: 30vw;
  }

  .text p {
    width: 30vw;
  }

}

@media (min-width: 1900px) {

  .text {
    margin-right: 15vw;
  }
}
