@import "reset.css";

@font-face {
  font-family: "Druk Text Wide Cyr";
  src: url("../fonts/Druk Text Wide Cyr Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 700ms ease;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Druk Text Wide Cyr";
  background-color: black;
  overflow-x: hidden;
}

.menu {
  margin: 14vw 8vw;
  display: flex;
  justify-content: space-between;
}

a {
  font-size: 15px;
  -webkit-text-fill-color: white;
  text-decoration: none;
  transition: 300ms linear all;
}

a:hover {
  text-decoration: underline;
}

a:active {
  -webkit-text-fill-color: #B57DFF;
}

.iconmenu {
  width: 30px;
  height: 20px;
  display: inherit;
}

.fullmenu {
  margin: -14vw 8vw 14vw 8vw;
  display: none;
  flex-direction: column;
}

.fullmenu a {
  margin-top: 30px;
}

.iconcross {
  display: none;
  height: 20px;
}

.shadow {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,.6);
}

video {
  width: 100vw;
}

.pieces {
  position: relative;
}

.purple {
  position: absolute;
  margin-top: 5vw;
  left: -15vw;
}

.red {
  position: absolute;
  top: 124vw;
  right: -20vw;
  z-index: 1;
}

.about {
  width: 100vw;
  margin: 10vw 8vw;
  margin-top: 30vh;
  padding-left: 20px;
  border-left: 1px solid #FFFFFF;
}

p {
  font-size: 12px;
  line-height: 20px;
  -webkit-text-fill-color: white;
  width: 80vw;
  margin-bottom: 20px;
}

.framebar {
  width: 84vw;
  position: absolute;
  z-index: -1;
}

h1 {
  font-size: 20px;
  position: absolute;
  line-height: 60px;
  -webkit-text-stroke: 1px white;
  margin: -1vw 4vw;
  cursor: pointer;
}

h1:hover {
  -webkit-text-fill-color: white;
}

.mainbar {
  margin: 34vw 8vw;
  position: relative;
}

.arrow {
  position: absolute;
  margin-top: 5.5vw;
  right: 7vw;
}

.purpleglass {
  position: absolute;
  top: 30vh;
  left: -20vw;
  animation: fly 6s ease-in-out infinite;
  width: 60vw;
}

.yellowglass {
  position: absolute;
  top: 0vh;
  left: -20vw;
  animation: fly 7s ease-in-out infinite;
  width: 100vw;
}

.redglass {
  position: absolute;
  right: 10vw;
  top: 45vh;
  animation: fly 9s ease-in-out infinite;
  width: 60vw;
}

.blueglass {
  position: absolute;
  right: -26vw;
  top: 35vh;
  animation: fly 8s ease-in-out infinite;
  width: 60vw;
}

.desktopmenu {
  display: none;
}

@keyframes fly {
  50% {
    transform: translateY(5vh);
  }

  60% {
    transform: translateY(4.5vh);
  }

  70% {
    transform: translateY(5vh);
  }
}

footer {
  position: relative;
  width: 100vw;
  margin: 90vh 8vw 0vh 8vw;
}

footer p {
  padding-left: 20px;
  border-left: 1px solid #FFFFFF;
  margin-top: 40px;
}

footer p a {
  font-size: 12px;
  line-height: 20px;
  text-decoration: underline;
}

footer p a:hover {
  -webkit-text-fill-color: #9F57FF;
}

footer p a:active {
  -webkit-text-fill-color: #B57DFF;
}


.wrapper {
  display: flex;
  justify-content: center;
}

.subscription {
  margin: 10vw 8vw 10vw 8vw;
}

.subscription p {
  margin-bottom: 1vw;
}

input {
  height: 36px;
  width: 273px;
  background: transparent;
  border: 1px solid #FFFFFF;
  color: white;
  font-size: 12px;
  font-family: "Druk Text Wide Cyr";
  outline-color: #9F57FF;
}

.button {
  margin-top: 10px;
  border: 1px solid #FFFFFF;
  font-size: 12px;
  font-family: "Druk Text Wide Cyr";
  text-align: center;
  padding: 9px;
  cursor: pointer;
  width: 255px;
}

.button:hover {
  background-color: #9F57FF;
}

.button:active {
  border: 1px solid #B57DFF;
  -webkit-text-fill-color: #B57DFF;
  background-color: black;
}

.desktopframe {
  display: none;
}

.fulldesktopframe {
  display: none;
}

.purple2 {
  display: none;
}

@media (min-width:768px) {
  .menu {
    margin: 8vw 4vw;
  }

  .fullmenu {
    margin: -8vw 4vw 8vw 4vw;
  }

  .about {
    margin: 8vw 4vw 8vw 20vw;
  }

  p {
    width: 55vw;
  }

  .purple {
    margin-top: 5vw;
    left: -15vw;
    width: 40vw;
  }

  .red {
    margin-top: -90vh;
    right: -5vw;
    width: 30vw;
  }

  .mainbar {
    margin: 0vw 4vw;
  }

  .framebar {
    display: none;
  }

  .desktopframe {
    display: block;
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  h1 {
    font-size: 30px;
    margin: 1vw 0vw 1vw 31vw;
  }

  .arrow {
    height: 27px;
    margin-top: 3.5vw;
    right: 16vw
  }

  .purpleglass {
    top: 5vh;
    width: 24vw;
    left: -8vw;
  }

  .yellowglass {
    top: -14vh;
    width: 45vw;
    left: -5vw;
  }

  .redglass {
    right: 52vw;
    top: 15vh;
    width: 25vw;
  }

  .blueglass {
    right: 38vw;
    top: 12vh;
    width: 24vw;
  }

  footer {
    margin: 38vh 4vw 0vh 4vw;
    display: flex;
    justify-content: space-between;
  }

  footer p {
    width: 40vw;
  }

  .subscription {
    margin: 4vw 0vw;
  }

  .email p {
    width: 0vw;
  }

}

@media (min-width:1024px) {
  .menu {
    display: none;
  }

  .desktopmenu {
    margin: 4vw 5vw;
    display: flex;
    justify-content: space-between;
  }

  .leftdesktopmenu {
    display: flex;
    justify-content: space-around;
  }

  a {
    margin-right: 3vw;
  }

  .desktopmenu > a {
    margin-right: 0vw;
  }

  .purple {
    margin-top: 1vw;
    left: -3vw;
    width: 32vw;
  }

  .red {
    top: 92vh;
    right: -1vw;
    width: 23vw;
  }

  p {
    font-size: 15px;
    line-height: 20px;
    width: 30vw;
  }

  .about {
    margin: 5vw 4vw 5vw 34vw;
  }

  .mainbar {
    margin: 8vw 5vw;
    position: relative;
  }

  .desktopframe {
    display: none;
  }

  h1 {
    font-size: 60px;
    margin-top: -29vw;
  }

  footer {
  margin: 56vh 5vw 0vh 5vw;
  }

  .arrow {
    height: 52px;
    margin-top: -28.5vw;
    right: 12vw;
  }

  .fulldesktopframe {
    display: block;
    width: 90vw;
  }

  .purpleglass {
    top: 16vh;
    width: 26vw;
    left: -8vw;
  }

  .yellowglass {
    left: -8vw;
    top: -35vh;
    width: 48vw;
  }

  .redglass {
    right: 48vw;
    top: 27vh;
    width: 27vw;
  }

  .blueglass {
    right: 32vw;
    top: 22vh;
    width: 28vw;
  }

  footer {
    margin: 12vh 5vw 0vh 5vw;
    width: 70vw;
  }

  .purple2 {
    display: block;
    position: absolute;
    right: 1vw;
    top: 55vw;
    z-index: 1;
    width: 20vw;
  }

  footer p a {
    font-size: 15px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }

  .button {
    margin-top: 20px;
    font-size: 20px;
    padding: 12px;
    width: 500px;
  }

  input {
    width: 524px;
    height: 42px;
    font-size: 15px;
  }

  .subscription p {
    margin-bottom: 0vw;
  }

}
